<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Chat Server</title>
    <link rel="stylesheet" href="css/startup.css" />
</head>
<body>
   <div id = "outer">
       <h1>Welcome to Free Chat's Server</h1>
       <video id="video" width="200" height="200" autoplay></video>
       <audio id="audio" autoplay></audio>
       <button onclick="toggleStart()">Start/Stop</button>
   </div>
    <script async defer src="scripts/startup.js"></script>
</body>
</html>